<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center centered">
        <h1>{{charity.name}}</h1>
        <h3>Funding Goal: ${{charity.totalFundingGoal}}</h3>
        <p>{{charity.description}}</p>
        <p><a class="edit-charity" href="/charities/{{charity._id}}/edit">Edit charity</a></p>
        <form class="" action="/charities/{{charity._id}}?_method=DELETE" method="post">
            <button class="delete project" type="submit">Delete project</button>
        </form>
        <ul class="list-group">
        {{#each charity.comments}}
          <li class="list-group-item">
            <h5>{{this.author}}: ${{this.amount}}</h5>
            <p>{{this.content}}</p>
            <a href="/charities/{{../charity._id}}/comments/{{this._id}}/update">Edit donation</a>
            <form action="/charities/{{../charity._id}}/comments/{{this._id}}?_method=DELETE" method="POST">
              <button class="delete comment" type="submit">Delete donation</button>
            </form>
          </li>
        {{/each}}
        </ul>
        <a href="/charities/{{charity._id}}/comments/new" class="donate">Donate Now</a>
      </div>
    </div>
  </div>
</main>
