<main>
  <div class="container">
    <div class="row">
        <div class="col-md-12 center centered">
          <h1>Welcome to Charity Donate</h1>
          <h2>Here are our Charities:</h2>
          <ul style="list-style: none;">
            {{#each charity}}
              <!-- put a tag in list item-->
              <li class="charity-li"><a href="/charities/{{this._id}}">{{this.name}}</a><p>{{this.description}}</p></li>

            {{/each}}
          </ul>
        </div>
    </div>
  </div>
  <!-- {{> itemForm}}
  {{#each items}}
  <div class="item">
    <h3>{{this.text}}</h3>
    <form action="/listitems/{{this._id}}?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <form action="/listitems/{{this._id}}/update" method="GET">
      <button type="submit">Edit</button>
    </form>
  </div>
  {{/each}} -->

</main>
